.history_bar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 20px;
  max-height: 20px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 8px 0;
  font-size: 1.1rem;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  user-select: none;
}

.history_bar:hover {
  border-color: #4b0082;
  box-shadow: 0 0 6px #4b0082;
}

.payment {
  margin: 0 10px;
  font-size: 1.1rem;
}

.payment_amount {
  margin: 0 10px;
  font-size: 1.1rem;
}

.positive {
  background-color: rgb(120, 240, 120);
}

.negative {
  background-color: rgb(241, 116, 116);
}

.delete_button {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.history_bar:hover .delete_button {
  opacity: 1;
}
